<footer>
    <div id="footer-block">
        <div>
            <a href="/">
                Home
            </a>
            <a href="/users/profile">
                Profile
            </a>
        </div>
        <div>
            Coding Ninjas. All rights reserved.
        </div>
    </div>
</footer>