<footer>
    <div id="footer-block">
        <div>
            <% if(title=="Profile Page"){ %>
                <a href="/users/create-session">User Home</a>
            <%} else if(title=="user-home"){%>
                <a href="/users/create-session">User Home</a>
            <%}else{ %>
                <a href="/">
                    Home
                </a>
            <%}%>
            
            <a href="/users/profile">
                Profile
            </a>
        </div>
        <div>
            Coding Ninjas. All rights reserved.
        </div>
    </div>
</footer>