<header>
    <div id="header-block">
        <div>
            codeial
        </div>
        <div>
            <%if(locals.user){%>
                <a href="/users/profile/<%=locals.user.id%>"><%=locals.user.name%></a>
                <a href="/users/sign-out">Sign Out</a>
            <%} else{ %>
            <a href="/users/sign-up">Sign Up</a>
            <a href="/users/sign-in">Sign In</a>
            <%}%>
        </div>
    </div>
</header>