<link rel="stylesheet" type="text/css" href="/css/home.css">
<body>
    <div id="flex-box-container">
    <div id="posts">
    <section id="feed-posts">
        <h1>Posts</h1>
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="POST">
        </form>
        <%}%>
    </section>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts) {%>
                <%- include('_posts'); %>
            <%}%>
        </ul>
    </div>
</div>
<div id="users">
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
            </p>
            <%}%>
    </section>
</div>
</div>
</body>
<script src="/js/home_posts.js"></script>
