<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
    </head>
    <%- include('_header');%>
    <div id="main">
        <%- body %>
    </div>
    
    <%- include('_footer');%>   
</html>